<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535460312399-71nb508o7kjg9in21hn1at7pgeinasg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535460312399-71nb508o7kjg9in21hn1at7pgeinasg0</string>
	<key>API_KEY</key>
	<string>AIzaSyB1NR-A4AQrdIXtRMZTiLHPyNSF3bQjuRM</string>
	<key>GCM_SENDER_ID</key>
	<string>535460312399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brainhive</string>
	<key>PROJECT_ID</key>
	<string>brainhive-48390</string>
	<key>STORAGE_BUCKET</key>
	<string>brainhive-48390.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535460312399:ios:0bd7e13cff07b09c70c13a</string>
</dict>
</plist>